.dashboard-pmbm-min-3-kra,
.dashboard-pmbm-min-3-kra * {
  box-sizing: border-box;
}
.dashboard-pmbm-min-3-kra {
  background: #e5e2e1;
  height: 1402px;
  position: relative;
  overflow: hidden;
}
.rectangle-2 {
  background: #d9d9d9;
  width: 1440px;
  height: 456px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.pmbm-min-3-karanganyar {
  color: #000000;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 700;
  position: absolute;
  left: 223px;
  top: 46px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.whats-app-image-2026-06-17-at-23-30-06-removebg-preview-1 {
  width: 58px;
  height: 58px;
  position: absolute;
  left: 160px;
  top: 29px;
  object-fit: cover;
  aspect-ratio: 1;
}
.home {
  color: #000000;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 700;
  position: absolute;
  left: 601px;
  top: 46px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.program {
  color: #000000;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 700;
  position: absolute;
  left: 678px;
  top: 46px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.kelulusan {
  color: #000000;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 700;
  position: absolute;
  left: 776px;
  top: 46px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.kontak {
  color: #000000;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 700;
  position: absolute;
  left: 888px;
  top: 46px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-3 {
  background: rgba(15, 118, 67, 0);
  border-style: solid;
  border-color: #0f7643;
  border-width: 1px;
  width: 107px;
  height: 36px;
  position: absolute;
  left: 1022px;
  top: 40px;
}
.guide-pmbm {
  color: rgba(15, 118, 67, 0.8);
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 700;
  position: absolute;
  left: 1029px;
  top: 46px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-4 {
  background: #064e3b;
  border-style: solid;
  border-color: #0f7643;
  border-width: 1px;
  width: 107px;
  height: 36px;
  position: absolute;
  left: 1142px;
  top: 40px;
}
.daftar {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 700;
  position: absolute;
  left: 1172px;
  top: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-16 {
  background: #064e3b;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 1440px;
  height: 364px;
  position: absolute;
  left: 0px;
  top: 1038px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 539px;
  left: 742px;
  top: 1111px;
}
.heading-5 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.informasi {
  color: #4ae176;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.list {
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.syarat-daftar {
  color: #f8f9ff;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.biaya-pendidikan {
  color: #f8f9ff;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.brosur-digital {
  color: #f8f9ff;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.panduan-siswa {
  color: #f8f9ff;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sroyo-kec-jaten-kabupaten-karanganyar-jawa-tengah-57731 {
  color: #f8f9ff;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 1030px;
  top: 1151px;
  width: 266px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._0812-2667-6554 {
  color: #f8f9ff;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 1030px;
  top: 1201px;
  width: 147px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.min-3-kra-gmail-com {
  color: #f8f9ff;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 1030px;
  top: 1235px;
  width: 171px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hubungi-kami {
  color: #4ae176;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 991px;
  top: 1111px;
  width: 159px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 921px;
  left: 169px;
  top: 1111px;
}
.heading-4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.pmbm-school {
  color: #7ed99c;
  text-align: left;
  font-family: "PlusJakartaSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container3 {
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.lembaga-pendidikan-unggulan-yang-berkomitmen-melahirkan-generasi-cerdas-berintegritas-tinggi-berakhlak-mulia-dan-siap-bersaing-di-kancah-global {
  color: #f8f9ff;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container4 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 730px;
  left: 551px;
  top: 1111px;
}
.jelajah {
  color: #4ae176;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.beranda {
  color: #f8f9ff;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.program-studi {
  color: #f8f9ff;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.alur-pmb {
  color: #f8f9ff;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cek-kelulusan {
  color: #f8f9ff;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._2026-pmbm-school-all-rights-reserved {
  color: #f8f9ff;
  text-align: center;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  opacity: 0.5;
  position: absolute;
  left: calc(50% - 551px);
  top: 1316px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container5 {
  opacity: 0.6;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 1058px;
  top: 1316px;
}
.text {
  color: #f8f9ff;
  text-align: center;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container6 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.pin-duotone-line {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 986px;
  top: 1159px;
  overflow: visible;
}
.phone-fill {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 986px;
  top: 1206px;
  overflow: visible;
}
.message {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 987px;
  top: 1245px;
  overflow: visible;
}
.heading-2 {
  padding: 1.1px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 672px;
  height: 76px;
  max-width: 672px;
  position: absolute;
  left: 384px;
  top: 152px;
}
.pendaftaran {
  color: #ffffff;
  text-align: left;
  font-family: "HankenGrotesk-Bold", sans-serif;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: -0.48px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.countdown {
  padding: 17px 0px 0px 0px;
  display: grid;
  gap: 16px;
  max-width: 448px;
  position: absolute;
  left: 496px;
  top: 211px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 92.39px;
}
.overlay-border-shadow-overlay-blur {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  padding: 15px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(10px);
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.container7 {
  padding: 0px 0px 0.59px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._103 {
  color: #ffffff;
  text-align: center;
  font-family: "HankenGrotesk-Bold", sans-serif;
  font-size: 32px;
  line-height: 41.6px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container8 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text2 {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: "HankenGrotesk-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0.7px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay-border-shadow-overlay-blur2 {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  padding: 15px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(10px);
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
._10 {
  color: #ffffff;
  text-align: center;
  font-family: "HankenGrotesk-Bold", sans-serif;
  font-size: 32px;
  line-height: 41.6px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay-border-shadow-overlay-blur3 {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  padding: 15px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(10px);
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}
._48 {
  color: #ffffff;
  text-align: center;
  font-family: "HankenGrotesk-Bold", sans-serif;
  font-size: 32px;
  line-height: 41.6px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay-border-shadow-overlay-blur4 {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
  padding: 15px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(10px);
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
}
._50 {
  color: #ffffff;
  text-align: center;
  font-family: "HankenGrotesk-Bold", sans-serif;
  font-size: 32px;
  line-height: 41.6px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-10 {
  position: absolute;
  inset: 0;
}
.group-3 {
  width: 368px;
  height: 182px;
  position: static;
}
.rectangle-42 {
  background: #ffffff;
  border-radius: 16px;
  width: 368px;
  height: 182px;
  position: absolute;
  left: 136px;
  top: 509px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
}
.container9 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 985.72px;
  left: 226px;
  top: 585px;
}
.text3 {
  color: #3e4a3c;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.overlay {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  position: absolute;
  left: 164px;
  top: 523px;
  overflow: visible;
}
.view {
  color: #006b24;
  text-align: left;
  font-family: "HankenGrotesk-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0.7px;
  font-weight: 600;
  position: absolute;
  left: 452px;
  top: 664px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.syarat-pendaftaran {
  color: #1c1b1b;
  text-align: left;
  font-family: "HankenGrotesk-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 33.6px;
  font-weight: 600;
  position: absolute;
  left: 226px;
  top: 531px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-4 {
  width: 368px;
  height: 182px;
  position: static;
}
.rectangle-43 {
  background: #ffffff;
  border-radius: 16px;
  width: 368px;
  height: 182px;
  position: absolute;
  left: 535px;
  top: 509px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
}
.container10 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 586.72px;
  left: 625px;
  top: 585px;
}
.overlay2 {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  position: absolute;
  left: 563px;
  top: 523px;
  overflow: visible;
}
.view2 {
  color: #006b24;
  text-align: left;
  font-family: "HankenGrotesk-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0.7px;
  font-weight: 600;
  position: absolute;
  left: 851px;
  top: 664px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.jadwal-pendaftaran {
  color: #1c1b1b;
  text-align: left;
  font-family: "HankenGrotesk-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 33.6px;
  font-weight: 600;
  position: absolute;
  left: 625px;
  top: 531px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-5 {
  width: 368px;
  height: 182px;
  position: static;
}
.rectangle-44 {
  background: #ffffff;
  border-radius: 16px;
  width: 368px;
  height: 182px;
  position: absolute;
  left: 928px;
  top: 509px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
}
.container11 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 193.72px;
  left: 1018px;
  top: 585px;
}
.overlay3 {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  position: absolute;
  left: 956px;
  top: 523px;
  overflow: visible;
}
.view3 {
  color: #006b24;
  text-align: left;
  font-family: "HankenGrotesk-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0.7px;
  font-weight: 600;
  position: absolute;
  left: 1244px;
  top: 664px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pendaftaran-pmbm {
  color: #1c1b1b;
  text-align: left;
  font-family: "HankenGrotesk-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 33.6px;
  font-weight: 600;
  position: absolute;
  left: 1018px;
  top: 531px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-6 {
  width: 368px;
  height: 182px;
  position: static;
}
.rectangle-45 {
  background: #ffffff;
  border-radius: 16px;
  width: 368px;
  height: 182px;
  position: absolute;
  left: 136px;
  top: 739px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
}
.container12 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 985.72px;
  left: 226px;
  top: 815px;
}
.overlay4 {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  position: absolute;
  left: 164px;
  top: 753px;
  overflow: visible;
}
.view4 {
  color: #006b24;
  text-align: left;
  font-family: "HankenGrotesk-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0.7px;
  font-weight: 600;
  position: absolute;
  left: 452px;
  top: 894px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.program2 {
  color: #1c1b1b;
  text-align: left;
  font-family: "HankenGrotesk-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 33.6px;
  font-weight: 600;
  position: absolute;
  left: 226px;
  top: 761px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-7 {
  width: 368px;
  height: 182px;
  position: static;
}
.rectangle-46 {
  background: #ffffff;
  border-radius: 16px;
  width: 368px;
  height: 182px;
  position: absolute;
  left: 535px;
  top: 739px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
}
.container13 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 586.72px;
  left: 625px;
  top: 815px;
}
.overlay5 {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  position: absolute;
  left: 563px;
  top: 753px;
  overflow: visible;
}
.view5 {
  color: #006b24;
  text-align: left;
  font-family: "HankenGrotesk-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0.7px;
  font-weight: 600;
  position: absolute;
  left: 851px;
  top: 894px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.kelulusan2 {
  color: #1c1b1b;
  text-align: left;
  font-family: "HankenGrotesk-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 33.6px;
  font-weight: 600;
  position: absolute;
  left: 625px;
  top: 761px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-8 {
  width: 368px;
  height: 182px;
  position: static;
}
.rectangle-47 {
  background: #ffffff;
  border-radius: 16px;
  width: 368px;
  height: 182px;
  position: absolute;
  left: 928px;
  top: 739px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
}
.container14 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 193.72px;
  left: 1018px;
  top: 815px;
}
.overlay6 {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  position: absolute;
  left: 956px;
  top: 753px;
  overflow: visible;
}
.view6 {
  color: #006b24;
  text-align: left;
  font-family: "HankenGrotesk-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0.7px;
  font-weight: 600;
  position: absolute;
  left: 1244px;
  top: 894px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.kontak2 {
  color: #1c1b1b;
  text-align: left;
  font-family: "HankenGrotesk-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 33.6px;
  font-weight: 600;
  position: absolute;
  left: 1018px;
  top: 761px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-92 {
  background: #ffffff;
  border-radius: 0px 0px 25px 25px;
  width: 921px;
  height: 936px;
  position: absolute;
  left: 298px;
  top: 372px;
}
.rectangle-93 {
  background: #064e3b;
  border-style: solid;
  border-color: #0f7643;
  border-width: 1px;
  width: 107px;
  height: 36px;
  position: absolute;
  left: 721px;
  top: 1202px;
}
.daftar2 {
  color: #ffffff;
  text-align: left;
  font-family: "HankenGrotesk-Regular", sans-serif;
  font-size: 20px;
  line-height: 33.6px;
  font-weight: 400;
  position: absolute;
  left: 746px;
  top: 1203px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-94 {
  background: #3f4940;
  border-style: solid;
  border-color: #0f7643;
  border-width: 1px;
  width: 107px;
  height: 36px;
  position: absolute;
  left: 595px;
  top: 1203px;
}
.tutup {
  color: #ffffff;
  text-align: left;
  font-family: "HankenGrotesk-Regular", sans-serif;
  font-size: 20px;
  line-height: 33.6px;
  font-weight: 400;
  position: absolute;
  left: 622px;
  top: 1204px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-95 {
  background: #d9d9d9;
  border-radius: 20px 20px 0px 0px;
  border-style: solid;
  border-color: #bdcab8;
  border-width: 1px;
  width: 752px;
  height: 67px;
  position: absolute;
  left: 351px;
  top: 1024px;
}
.rectangle-96 {
  background: rgba(217, 217, 217, 0.77);
  border-radius: 0px 0px 20px 20px;
  border-style: solid;
  border-color: #bdcab8;
  border-width: 1px;
  width: 752px;
  height: 47px;
  position: absolute;
  left: 351px;
  top: 1090px;
}
.persyaratan-tambahan-opsional {
  color: #1c1b1b;
  text-align: left;
  font-family: "HankenGrotesk-SemiBold", sans-serif;
  font-size: 25px;
  line-height: 33.6px;
  font-weight: 600;
  position: absolute;
  left: 424px;
  top: 1041px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.piagam-penghargaan-juara-1-2-3-minimal-tingkat-kecamatan-jika-memiliki-pdf {
  color: #1c1b1b;
  text-align: left;
  font-family: "HankenGrotesk-Regular", sans-serif;
  font-size: 20px;
  line-height: 33.6px;
  font-weight: 400;
  position: absolute;
  left: 366px;
  top: 1094px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-97 {
  background: #006b24;
  border-radius: 25px 25px 0px 0px;
  width: 921px;
  height: 181px;
  position: absolute;
  left: 298px;
  top: 228px;
}
.rectangle-98 {
  background: #d9d9d9;
  border-radius: 20px 20px 0px 0px;
  border-style: solid;
  border-color: #bdcab8;
  border-width: 1px;
  width: 752px;
  height: 67px;
  position: absolute;
  left: 351px;
  top: 459px;
}
.rectangle-99 {
  background: rgba(217, 217, 217, 0.77);
  border-style: solid;
  border-color: #bdcab8;
  border-width: 1px;
  width: 752px;
  height: 47px;
  position: absolute;
  left: 351px;
  top: 525px;
}
.rectangle-100 {
  background: #d9d9d9;
  border-radius: 0px 0px 20px 20px;
  border-style: solid;
  border-color: #bdcab8;
  border-width: 1px;
  width: 752px;
  height: 47px;
  position: absolute;
  left: 351px;
  top: 571px;
}
.persyaratan-wajib-umum {
  color: #1c1b1b;
  text-align: left;
  font-family: "HankenGrotesk-SemiBold", sans-serif;
  font-size: 25px;
  line-height: 33.6px;
  font-weight: 600;
  position: absolute;
  left: 424px;
  top: 476px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.syarat-ketentuan-pendaftaran {
  color: #ffffff;
  text-align: left;
  font-family: "HankenGrotesk-SemiBold", sans-serif;
  font-size: 25px;
  line-height: 33.6px;
  font-weight: 600;
  position: absolute;
  left: 380px;
  top: 304px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.umur-minimal-6-tahun-per-juli-2025 {
  color: #1c1b1b;
  text-align: left;
  font-family: "HankenGrotesk-Regular", sans-serif;
  font-size: 20px;
  line-height: 33.6px;
  font-weight: 400;
  position: absolute;
  left: 424px;
  top: 529px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.memiliki-email-aktif {
  color: #1c1b1b;
  text-align: left;
  font-family: "HankenGrotesk-Regular", sans-serif;
  font-size: 20px;
  line-height: 33.6px;
  font-weight: 400;
  position: absolute;
  left: 424px;
  top: 574px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-101 {
  background: #d9d9d9;
  border-radius: 20px 20px 0px 0px;
  border-style: solid;
  border-color: #bdcab8;
  border-width: 1px;
  width: 752px;
  height: 67px;
  position: absolute;
  left: 351px;
  top: 679px;
}
.rectangle-102 {
  background: rgba(217, 217, 217, 0.77);
  border-style: solid;
  border-color: #bdcab8;
  border-width: 1px;
  width: 752px;
  height: 47px;
  position: absolute;
  left: 351px;
  top: 745px;
}
.rectangle-103 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #bdcab8;
  border-width: 1px;
  width: 752px;
  height: 47px;
  position: absolute;
  left: 351px;
  top: 791px;
}
.rectangle-104 {
  background: rgba(217, 217, 217, 0.77);
  border-style: solid;
  border-color: #bdcab8;
  border-width: 1px;
  width: 752px;
  height: 47px;
  position: absolute;
  left: 351px;
  top: 837px;
}
.rectangle-105 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #bdcab8;
  border-width: 1px;
  width: 752px;
  height: 47px;
  position: absolute;
  left: 351px;
  top: 882px;
}
.rectangle-106 {
  background: rgba(217, 217, 217, 0.77);
  border-radius: 0px 0px 20px 20px;
  border-style: solid;
  border-color: #bdcab8;
  border-width: 1px;
  width: 752px;
  height: 47px;
  position: absolute;
  left: 351px;
  top: 928px;
}
.persyaratan-wajib-umum2 {
  color: #1c1b1b;
  text-align: left;
  font-family: "HankenGrotesk-SemiBold", sans-serif;
  font-size: 25px;
  line-height: 33.6px;
  font-weight: 600;
  position: absolute;
  left: 424px;
  top: 696px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pas-foto-berwarna-jpg-png-dan-jpeg {
  color: #000000;
  text-align: left;
  font-family: "HankenGrotesk-Regular", sans-serif;
  font-size: 20px;
  line-height: 33.6px;
  font-weight: 400;
  position: absolute;
  left: 424px;
  top: 749px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.kartu-keluarga-asli-pdf {
  color: #000000;
  text-align: left;
  font-family: "HankenGrotesk-Regular", sans-serif;
  font-size: 20px;
  line-height: 33.6px;
  font-weight: 400;
  position: absolute;
  left: 424px;
  top: 795px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nisn-dari-tk-asal {
  color: #000000;
  text-align: left;
  font-family: "HankenGrotesk-Regular", sans-serif;
  font-size: 20px;
  line-height: 33.6px;
  font-weight: 400;
  position: absolute;
  left: 424px;
  top: 932px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.kartu-identitas-anak-pdf {
  color: #000000;
  text-align: left;
  font-family: "HankenGrotesk-Regular", sans-serif;
  font-size: 20px;
  line-height: 33.6px;
  font-weight: 400;
  position: absolute;
  left: 424px;
  top: 887px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.akta-kelahiran-asli-pdf {
  color: #000000;
  text-align: left;
  font-family: "HankenGrotesk-Regular", sans-serif;
  font-size: 20px;
  line-height: 33.6px;
  font-weight: 400;
  position: absolute;
  left: 424px;
  top: 841px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
