.desktop-15,
.desktop-15 * {
  box-sizing: border-box;
}
.desktop-15 {
  background: rgba(126, 217, 156, 0.73);
  height: 2431px;
  position: relative;
  overflow: hidden;
}
.rectangle-2 {
  background: #d9d9d9;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 1440px;
  height: 116px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.admin-portal {
  color: #000000;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 700;
  position: absolute;
  left: 200px;
  top: 46px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.whats-app-image-2026-06-17-at-23-30-06-removebg-preview-1 {
  width: 58px;
  height: 58px;
  position: absolute;
  left: 137px;
  top: 25px;
  object-fit: cover;
  aspect-ratio: 1;
}
.page-dashboard {
  color: #000000;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 700;
  position: absolute;
  left: 368px;
  top: 46px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-129 {
  background: #f8f9ff;
  width: 310px;
  height: 2267px;
  position: absolute;
  left: 0px;
  top: 116px;
}
.rectangle-130 {
  background: #d9d9d9;
  width: 310px;
  height: 93px;
  position: absolute;
  left: 0px;
  top: 116px;
}
.rectangle-131 {
  background: #7ed99c;
  width: 310px;
  height: 93px;
  position: absolute;
  left: 0px;
  top: 208px;
}
.rectangle-132 {
  background: #d9d9d9;
  width: 310px;
  height: 93px;
  position: absolute;
  left: 0px;
  top: 301px;
}
.rectangle-133 {
  background: #d9d9d9;
  width: 310px;
  height: 93px;
  position: absolute;
  left: 0px;
  top: 394px;
}
.dashboard {
  color: #005b31;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 700;
  position: absolute;
  left: 33px;
  top: 151px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.screening {
  color: #005b31;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 700;
  position: absolute;
  left: 33px;
  top: 243px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.applicant-list {
  color: #005b31;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 700;
  position: absolute;
  left: 33px;
  top: 336px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.account-management {
  color: #005b31;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 700;
  position: absolute;
  left: 33px;
  top: 429px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logout {
  color: #ff0000;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 700;
  position: absolute;
  left: 28px;
  top: 2303px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.admin-portal2 {
  color: #000000;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 700;
  position: absolute;
  left: 1210px;
  top: 34px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.admin-portal3 {
  color: rgba(0, 0, 0, 0.4);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 500;
  position: absolute;
  left: 1246px;
  top: 58px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.section-1-landing-page-content {
  background: #ffffff;
  border-radius: 12px;
  border-style: solid;
  border-color: #becabe;
  border-width: 1px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 476px;
  left: 342px;
  top: 138px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.margin {
  padding: 0px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.overlay {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.heading-3 {
  padding: 0px 30.37px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text {
  color: #121c2a;
  text-align: left;
  font-family: "PlusJakartaSans-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.judul-utama-main-heading {
  color: #3f4940;
  text-align: left;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input {
  background: #f8f9ff;
  border-radius: 8px;
  border-style: solid;
  border-color: #becabe;
  border-width: 1px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.container4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: auto;
}
.penerimaan-peserta-didik-baru-2026-2027 {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container5 {
  padding: 0px 0px 4px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sub-judul-deskripsi-singkat {
  color: #3f4940;
  text-align: left;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.textarea {
  background: #f8f9ff;
  border-radius: 8px;
  border-style: solid;
  border-color: #becabe;
  border-width: 1px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 107px;
  position: relative;
  overflow: auto;
}
.container6 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.bergabunglah-dengan-min-3-karanganyar-lembaga-pendidikan-islam-yang-unggul-dalam-akademik-dan-berkarakter-qur-ani-kami-menyediakan-lingkungan-belajar-yang-kondusif-dan-inovatif {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container7 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button {
  background: #005b31;
  border-radius: 9999px;
  padding: 10px 24px 10px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container8 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.text2 {
  color: #ffffff;
  text-align: center;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-2-countdown-gelombang {
  background: #ffffff;
  border-radius: 12px;
  border-style: solid;
  border-color: #becabe;
  border-width: 1px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 402px;
  position: absolute;
  left: 985px;
  top: 145px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.overlay2 {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.heading-32 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.background-border {
  background: #f8f9ff;
  border-radius: 8px;
  border-style: solid;
  border-color: rgba(190, 202, 190, 0.5);
  border-width: 1px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.pilih-tanggal-waktu-target {
  color: #3f4940;
  text-align: left;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input2 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #becabe;
  border-width: 1px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.container9 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.container10 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.paragraph {
  align-self: stretch;
  flex-shrink: 0;
  width: 174.55px;
  position: relative;
}
.spinbutton-month-07 {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 1px;
  top: -0.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text3 {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 20.61px;
  top: -0.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.spinbutton-day-30 {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 28.61px;
  top: -0.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text4 {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 48.89px;
  top: -0.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.spinbutton-year-2026 {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 56.89px;
  top: -0.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text5 {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 96.23px;
  top: -0.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.spinbutton-hours-11 {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 106.95px;
  top: -0.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text6 {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 120.44px;
  top: -0.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.spinbutton-minutes-59 {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 126.19px;
  top: -0.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.spinbutton-am-pm-pm {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  left: 150.11px;
  top: -0.5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button-menu {
  padding: 2px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.image {
  flex-shrink: 0;
  width: 16px;
  height: 15px;
  position: relative;
  overflow: hidden;
}
.overlay-border {
  background: rgba(107, 255, 143, 0.3);
  border-radius: 8px;
  border-style: solid;
  border-color: #6bff8f;
  border-width: 1px;
  padding: 16px 12px 12px 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container11 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text7 {
  color: #007432;
  text-align: center;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.5px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text8 {
  color: #007432;
  text-align: center;
  font-family: "PlusJakartaSans-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button2 {
  border-radius: 9999px;
  border-style: solid;
  border-color: #005b31;
  border-width: 2px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 7.99px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container12 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.text9 {
  color: #005b31;
  text-align: center;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-3-study-program-categories {
  background: #ffffff;
  border-radius: 12px;
  border-style: solid;
  border-color: #becabe;
  border-width: 1px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1045px;
  height: 1760px;
  position: absolute;
  left: 342px;
  top: 609px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.container13 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container14 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.overlay3 {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.heading-33 {
  padding: 0px 37.93px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.button3 {
  background: #005b31;
  border-radius: 9999px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container15 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.container16 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 846px;
  position: relative;
  overflow: auto;
}
.table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.header-row {
  border-style: solid;
  border-color: #becabe;
  border-width: 0px 0px 1px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.cell {
  padding: 1px 1px 16px 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text10 {
  color: #3f4940;
  text-align: left;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cell2 {
  padding: 11px 1px 26.5px 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text11 {
  color: #3f4940;
  text-align: center;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body {
  margin: -1px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.row {
  align-self: stretch;
  flex-shrink: 0;
  height: 299.25px;
  position: relative;
}
.data {
  padding: 24.5px 16px 234.75px 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 282.14px;
  left: 0px;
  top: 0px;
}
.text12 {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.data2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 320px;
  position: absolute;
  right: 624px;
  left: 247px;
  top: 17.5px;
}
.text13 {
  color: #3f4940;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 22.75px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.data-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 335px;
  left: 567px;
  top: 23.5px;
}
.item {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.background {
  background: #005b31;
  border-radius: 9999px;
  flex-shrink: 0;
  width: 1.95px;
  height: 4px;
  position: relative;
}
.text14 {
  color: #3f4940;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.item2 {
  display: flex;
  flex-direction: row;
  gap: 7.99px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.background2 {
  background: #005b31;
  border-radius: 9999px;
  flex-shrink: 0;
  width: 1.52px;
  height: 4px;
  position: relative;
}
.background3 {
  background: #005b31;
  border-radius: 9999px;
  flex-shrink: 0;
  width: 1.64px;
  height: 4px;
  position: relative;
}
.data3 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 64px;
  left: 867px;
  top: 18.5px;
}
.button4 {
  border-radius: 8px;
  border-style: solid;
  border-color: rgba(0, 91, 49, 0.2);
  border-width: 1px;
  padding: 6px 22.78px 6px 22.77px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.text15 {
  color: #005b31;
  text-align: center;
  font-family: "WorkSans-Medium", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button5 {
  border-radius: 8px;
  border-style: solid;
  border-color: rgba(186, 26, 26, 0.2);
  border-width: 1px;
  padding: 6px 16px 6px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.text16 {
  color: #ba1a1a;
  text-align: center;
  font-family: "WorkSans-Medium", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row2 {
  border-style: solid;
  border-color: rgba(190, 202, 190, 0.3);
  border-width: 1px 0px 0px 0px;
  align-self: stretch;
  flex-shrink: 0;
  height: 298.75px;
  position: relative;
}
.data4 {
  padding: 24.5px 16px 234.25px 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 282.14px;
  left: 0px;
  top: 0px;
}
.data5 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 320px;
  position: absolute;
  right: 605px;
  left: 249px;
  top: 21.25px;
}
.data-list2 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 344px;
  left: 569px;
  top: 9.25px;
}
.background4 {
  background: #005b31;
  border-radius: 9999px;
  flex-shrink: 0;
  width: 1.92px;
  height: 4px;
  position: relative;
}
.background5 {
  background: #005b31;
  border-radius: 9999px;
  flex-shrink: 0;
  width: 1.58px;
  height: 4px;
  position: relative;
}
.background6 {
  background: #005b31;
  border-radius: 9999px;
  flex-shrink: 0;
  width: 1.44px;
  height: 4px;
  position: relative;
}
.row3 {
  border-style: solid;
  border-color: rgba(190, 202, 190, 0.3);
  border-width: 1px 0px 0px 0px;
  flex-shrink: 0;
  width: 962px;
  height: 202px;
  position: relative;
}
.data6 {
  padding: 24.5px 16px 234.25px 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 887px;
  left: 0px;
  top: 0.5px;
}
.program-fullday {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.kurikulum-berbasis-it {
  color: #3f4940;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.akses-kelas-praktikum-digital {
  color: #3f4940;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-5 {
  width: 127px;
  height: 261px;
  position: absolute;
  left: 231px;
  top: -17.5px;
  overflow: hidden;
}
.fokus-pada-pengembangan-karakter-holistik-melalui-kegiatan-ekstrakurikuler-seni-olahraga-dan-kepemimpinan {
  color: #3f4940;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 400;
  position: absolute;
  left: 15px;
  top: 31px;
  width: 98px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button6 {
  border-radius: 8px;
  border-style: solid;
  border-color: rgba(0, 91, 49, 0.2);
  border-width: 1px;
  padding: 6px 22.78px 6px 22.77px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 866px;
  top: 45.5px;
}
.button7 {
  border-radius: 8px;
  border-style: solid;
  border-color: rgba(186, 26, 26, 0.2);
  border-width: 1px;
  padding: 6px 16px 6px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 866px;
  top: 83.5px;
}
.button8 {
  border-radius: 8px;
  border-style: solid;
  border-color: rgba(0, 91, 49, 0.2);
  border-width: 1px;
  opacity: 0;
  padding: 6px 22.78px 6px 22.77px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.button9 {
  border-radius: 8px;
  border-style: solid;
  border-color: rgba(186, 26, 26, 0.2);
  border-width: 1px;
  opacity: 0;
  padding: 6px 16px 6px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.section-4-digital-booklet-terms {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.section-booklet-upload {
  background: #ffffff;
  border-radius: 12px;
  border-style: solid;
  border-color: #becabe;
  border-width: 1px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.overlay4 {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.margin2 {
  padding: 8px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.upload-file-booklet-terbaru {
  color: #3f4940;
  text-align: left;
  font-family: "WorkSans-Medium", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container17 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.label2 {
  background: #f8f9ff;
  border-radius: 8px;
  border-style: dashed;
  border-color: #becabe;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 128px;
  position: relative;
}
.container18 {
  padding: 20px 0px 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.margin3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.container19 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text17 {
  color: #3f4940;
  text-align: left;
  font-family: "WorkSans-Medium", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.margin4 {
  padding: 4px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text18 {
  color: #6f7a70;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.background-border2 {
  background: #f8f9ff;
  border-radius: 8px;
  border-style: solid;
  border-color: #becabe;
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container20 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.container21 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  flex-shrink: 0;
  max-width: 120px;
  position: relative;
  overflow: hidden;
}
.text19 {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-overflow: ellipsis;
  overflow: hidden;
}
.container22 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.overlay5 {
  background: rgba(0, 91, 49, 0.1);
  border-radius: 9999px;
  padding: 4px 12px 4px 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text20 {
  color: #005b31;
  text-align: left;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 10px;
  line-height: 20px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button10 {
  background: #005b31;
  border-radius: 9999px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.section-terms-conditions {
  background: #ffffff;
  border-radius: 12px;
  border-style: solid;
  border-color: #becabe;
  border-width: 1px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.background7 {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.textarea2 {
  background: #f8f9ff;
  border-radius: 8px;
  border-style: solid;
  border-color: #becabe;
  border-width: 1px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: auto;
}
._1-fotocopy-akte-kelahiran-2-lembar-2-fotocopy-kartu-keluarga-2-lembar-3-pas-foto-berwarna-3-x-4-4-lembar-4-surat-keterangan-sehat-5-berusia-minimal-6-tahun-per-1-juli-2026 {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button11 {
  border-radius: 9999px;
  border-style: solid;
  border-color: #becabe;
  border-width: 1px;
  padding: 8px 24px 8px 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text21 {
  color: #3f4940;
  text-align: center;
  font-family: "WorkSans-Medium", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.data7 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 125px;
  left: 1234px;
  top: 1095px;
}
.background8 {
  background: #005b31;
  border-radius: 9999px;
  padding: 7.5px 0px 8.5px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 60px;
  position: absolute;
  left: 1345px;
  top: calc(50% - 1192.5px);
}
.text22 {
  color: #ffffff;
  text-align: center;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
