.desktop-23,
.desktop-23 * {
  box-sizing: border-box;
}
.desktop-23 {
  background: #ffffff;
  height: 1615px;
  position: relative;
  overflow: hidden;
}
.rectangle-2 {
  background: #d9d9d9;
  width: 1440px;
  height: 116px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.background {
  background: #005b31;
  border-radius: 9999px;
  padding: 7.5px 0px 8.5px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 60px;
  position: absolute;
  left: 1345px;
  top: calc(50% - 789.5px);
}
.text {
  color: #ffffff;
  text-align: center;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.penguji-pmbm {
  color: #000000;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 700;
  position: absolute;
  left: 200px;
  top: 46px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.whats-app-image-2026-06-17-at-23-30-06-removebg-preview-1 {
  width: 58px;
  height: 58px;
  position: absolute;
  left: 137px;
  top: 25px;
  object-fit: cover;
  aspect-ratio: 1;
}
.page-dashboard {
  color: #000000;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 700;
  position: absolute;
  left: 368px;
  top: 46px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.penguji {
  color: #000000;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 700;
  position: absolute;
  left: 1210px;
  top: 34px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.penguji-pmbm2 {
  color: rgba(0, 0, 0, 0.4);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 500;
  position: absolute;
  left: 1197px;
  top: 61px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer-shared-component {
  background: #f8f9ff;
  border-style: solid;
  border-color: #becabe;
  border-width: 1px 0px 0px 0px;
  padding: 24px 0px 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 1058px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text2 {
  color: #3f4940;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.margin {
  padding: 8px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.link {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.margin2 {
  padding: 0px 0px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text3 {
  color: #becabe;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link-margin {
  padding: 0px 0px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.link-help-center {
  color: #3f4940;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link-contact-admin {
  color: #3f4940;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.section-student-identity-card {
  background: #ffffff;
  border-radius: 12px;
  border-style: solid;
  border-color: #005b31;
  border-width: 0px 0px 0px 4px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 893px;
  left: 157px;
  top: 162px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.container3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container4 {
  padding: 5px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text4 {
  color: #6f7a70;
  text-align: left;
  font-family: "WorkSans-Medium", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.6px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading-1 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text5 {
  color: #121c2a;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container5 {
  padding: 1px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container6 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.strong-no-daftar {
  color: #3f4940;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.strong-no-daftar-span {
  font-family: "WorkSans-SemiBold", sans-serif;
  font-weight: 600;
}
.strong-no-daftar-span2 {
  font-family: "WorkSans-Regular", sans-serif;
}
.overlay-border {
  background: rgba(107, 255, 143, 0.2);
  border-radius: 9999px;
  border-style: solid;
  border-color: rgba(0, 110, 47, 0.2);
  border-width: 1px;
  padding: 2px 10px 2px 10px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text6 {
  color: #006e2f;
  text-align: left;
  font-family: "WorkSans-Medium", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.background-border {
  background: #e6eeff;
  border-radius: 8px;
  border-style: solid;
  border-color: #becabe;
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container7 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.text7 {
  color: #007432;
  text-align: left;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.assessment-form-card {
  background: #ffffff;
  border-radius: 12px;
  border-style: solid;
  border-color: #becabe;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 160px;
  left: 159px;
  top: 450px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.background-horizontal-border {
  background: #eff4ff;
  border-style: solid;
  border-color: #becabe;
  border-width: 0px 0px 1px 0px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.container8 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text8 {
  color: #121c2a;
  text-align: left;
  font-family: "LiberationSans-Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading-2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text9 {
  color: #121c2a;
  text-align: left;
  font-family: "PlusJakartaSans-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container9 {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._1-opsi-hafalan {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._1-opsi-hafalan2 {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.options {
  background: #f8f9ff;
  border-radius: 8px;
  border-style: solid;
  border-color: #becabe;
  border-width: 1px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.image-clip {
  padding: 12.5px 9px 12.5px 310px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  overflow: hidden;
}
.image {
  flex-shrink: 0;
  width: 21px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.container10 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.pilih-nilai-hafalan {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container11 {
  padding: 0px 12px 0px 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  right: 0px;
  bottom: 0px;
  top: 0px;
}
.container12 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
._2-bacaan-tasmi {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._2-bacaan-tasmi2 {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.image2 {
  flex-shrink: 0;
  width: 21px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.pilih-nilai-tasmi {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container13 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
._3-kemampuan-calistung {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._3-kemampuan-calistung2 {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.image3 {
  flex-shrink: 0;
  width: 21px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.pilih-nilai-calistung {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container14 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
._4-aspek-kemandirian {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._4-aspek-kemandirian2 {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.image4 {
  flex-shrink: 0;
  width: 21px;
  height: 21px;
  position: relative;
  overflow: visible;
}
.pilih-nilai-kemandirian {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container15 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
._5-jalur-prestasi {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._5-jalur-prestasi2 {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.label2 {
  border-radius: 8px;
  border-style: solid;
  border-color: #becabe;
  border-width: 1px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input {
  background: #ffffff;
  border-radius: 4px;
  border-style: solid;
  border-color: #becabe;
  border-width: 1px;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
}
.container16 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text10 {
  color: #3f4940;
  text-align: left;
  font-family: "LiberationSans-Regular", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text11 {
  color: #3f4940;
  text-align: left;
  font-family: "WorkSans-Medium", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._6-hasil-wawancara-orang-tua {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._6-hasil-wawancara-orang-tua-skala-1-10 {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input2 {
  background: #f8f9ff;
  border-radius: 8px;
  border-style: solid;
  border-color: #becabe;
  border-width: 1px;
  align-self: stretch;
  flex-shrink: 0;
  height: 46px;
  position: relative;
  overflow: hidden;
}
.container17 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 32px;
  left: 17px;
  top: 15px;
  overflow: hidden;
}
.text12 {
  color: #6b7280;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container18 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 17px;
  left: 17px;
  top: 13px;
}
.container19 {
  flex: 1;
  height: 20px;
  position: relative;
}
.rectangle-align-stretch {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.rectangle {
  opacity: 0;
  align-self: stretch;
  flex-shrink: 0;
  width: 15px;
  min-width: 15px;
  position: relative;
}
._10-sangat-mendukung-1-tidak-mendukung {
  color: #6f7a70;
  text-align: left;
  font-family: "WorkSans-MediumItalic", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-style: italic;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._7-catatan-penguji {
  padding: 0px 0px 7px 0px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._7-catatan-penguji2 {
  color: #121c2a;
  text-align: left;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.textarea {
  background: #f8f9ff;
  border-radius: 8px;
  border-style: solid;
  border-color: #becabe;
  border-width: 1px;
  padding: 12px 16px 52px 16px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: auto;
}
.tuliskan-catatan-khusus-atau-rekomendasi-hasil-wawancara-di-sini {
  color: #6b7280;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.action-buttons {
  background: #eff4ff;
  border-style: solid;
  border-color: #becabe;
  border-width: 1px 0px 0px 0px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button {
  border-radius: 8px;
  border-style: solid;
  border-color: #6f7a70;
  border-width: 1px;
  padding: 12px 40px 12px 40px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text13 {
  color: #3f4940;
  text-align: center;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button2 {
  background: #005b31;
  border-radius: 8px;
  padding: 12px 40px 12px 40px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button-shadow {
  background: rgba(255, 255, 255, 0);
  border-radius: 8px;
  flex-shrink: 0;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.1),
    0px 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.container20 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.footer-shared-component2 {
  background: #f8f9ff;
  border-style: solid;
  border-color: #becabe;
  border-width: 1px 0px 0px 0px;
  padding: 24px 0px 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  height: 108px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 1507px;
}
.progress-tracker-placeholder {
  padding: 16px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 538px;
  left: 512px;
  top: 340px;
}
.container21 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container22 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.background2 {
  background: #005b31;
  border-radius: 9999px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.text14 {
  color: #ffffff;
  text-align: center;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.margin3 {
  padding: 4px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text15 {
  color: #005b31;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.horizontal-divider {
  background: #005b31;
  flex-shrink: 0;
  width: 48px;
  height: 1px;
  position: relative;
}
.horizontal-divider2 {
  background: #becabe;
  flex-shrink: 0;
  width: 48px;
  height: 1px;
  position: relative;
}
.border {
  border-radius: 9999px;
  border-style: solid;
  border-color: #becabe;
  border-width: 2px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.text16 {
  color: #becabe;
  text-align: center;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text17 {
  color: #becabe;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
