.desktop-22,
.desktop-22 * {
  box-sizing: border-box;
}
.desktop-22 {
  background: #ffffff;
  height: 1162px;
  position: relative;
  overflow: hidden;
}
.heading-3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 350px;
  position: absolute;
  left: 146px;
  top: 156px;
}
.antrean-uji-wawancara {
  color: #121c2a;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: -0.75px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 564px;
  max-width: 576px;
  position: absolute;
  left: 146px;
  top: 198px;
}
.daftar-calon-siswa-yang-berstatus-pending-dan-siap-diuji-hari-ini-pastikan-kelengkapan-berkas-sebelum-memulai-sesi {
  color: #3f4940;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-2 {
  background: #d9d9d9;
  width: 1440px;
  height: 116px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.background {
  background: #005b31;
  border-radius: 9999px;
  padding: 7.5px 0px 8.5px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 60px;
  position: absolute;
  left: 1358px;
  top: calc(50% - 553px);
}
.text {
  color: #ffffff;
  text-align: center;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.penguji {
  color: #000000;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 700;
  position: absolute;
  left: 200px;
  top: 46px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.whats-app-image-2026-06-17-at-23-30-06-removebg-preview-1 {
  width: 58px;
  height: 58px;
  position: absolute;
  left: 137px;
  top: 25px;
  object-fit: cover;
  aspect-ratio: 1;
}
.page-dashboard {
  color: #000000;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 700;
  position: absolute;
  left: 368px;
  top: 46px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.penguji2 {
  color: #000000;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 700;
  position: absolute;
  left: 1261px;
  top: 34px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.penguji-pmbm {
  color: rgba(0, 0, 0, 0.4);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.4px;
  font-weight: 500;
  position: absolute;
  left: 1235px;
  top: 58px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dashboard-stats-summary-bento-piece {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 265px;
  position: absolute;
  left: 145px;
  top: 738px;
}
.overlay-border-overlay-blur {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  border-style: solid;
  border-color: radial-gradient(
    closest-side,
    rgba(0, 91, 49, 1) 99.99998807907104%,
    rgba(229, 231, 235, 0.5) 100%
  );
  border-width: 1px 1px 1px 4px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  backdrop-filter: blur(4px);
}
.overlay {
  background: rgba(15, 118, 67, 0.2);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.container2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.container3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.text2 {
  color: #3f4940;
  text-align: left;
  font-family: "WorkSans-Medium", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.6px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text3 {
  color: #121c2a;
  text-align: left;
  font-family: "PlusJakartaSans-Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.overlay-border-overlay-blur2 {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  border-style: solid;
  border-color: radial-gradient(
    closest-side,
    rgba(0, 110, 47, 1) 99.99998807907104%,
    rgba(229, 231, 235, 0.5) 100%
  );
  border-width: 1px 1px 1px 4px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  right: 396px;
  left: 779px;
  top: 738px;
  backdrop-filter: blur(4px);
}
.overlay2 {
  background: rgba(107, 255, 143, 0.2);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.container5 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.overlay-border-overlay-blur3 {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  border-style: solid;
  border-color: radial-gradient(
    closest-side,
    rgba(24, 89, 70, 1) 99.99998807907104%,
    rgba(229, 231, 235, 0.5) 100%
  );
  border-width: 1px 1px 1px 4px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  width: 265px;
  position: absolute;
  left: 445px;
  top: 738px;
  backdrop-filter: blur(4px);
}
.overlay3 {
  background: rgba(176, 240, 214, 0.4);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.container6 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.footer-shared-component {
  background: #f8f9ff;
  border-style: solid;
  border-color: #becabe;
  border-width: 1px 0px 0px 0px;
  padding: 24px 0px 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 1058px;
}
.text4 {
  color: #3f4940;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.margin {
  padding: 8px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.container7 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.link {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.margin2 {
  padding: 0px 0px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.text5 {
  color: #becabe;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link-margin {
  padding: 0px 0px 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.link-help-center {
  color: #3f4940;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link-contact-admin {
  color: #3f4940;
  text-align: left;
  font-family: "WorkSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
